#all{
    width: 900px;
    margin: auto;
}

body{
    background-color: rgb(245, 245, 245);
}

h1,h2{
    font-family: Verdana;
}

h1{
    font-size: x-large;
    font-weight: 600;
    text-align: center;
}

h2{
    font-size: large;
}

p,li{
    font-family: Calibri;
    color: rgb(70, 70, 70);
    font-weight: 300;
}

u{
    color: black;
    font-weight: 500;
}
